@media screen and (max-width: 1440px) {
  .contactFooterMenu > .contactsFooter {
    width: 431px;
  }
  .contactFooterMenu > .footerSections {
    width: 317px;
  }
  .testimoial .testimoialMenu {
    gap: 10px;
  }
  .atorneys .atorneysColorFrame{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1024px) {
  .slider .photo p {
    font-size: 49px;
  }

  .apoitment .apoitmentHeader .apoitmentMenu .apoData {
    width: 97.5%;
  }
  .apoitment .apoitmentHeader .apoitmentMenu > button {
    width: 83.5%;
    height: 56px;
    margin-right: 2%;
  }
  .features .featuresTextSections{
    padding: 0;
  }
  .aboutUs .aboutText {
    gap: 10px;
  }
  .aboutUs .aboutText > h4 {
    font-size: 32px;
  }
  .features {
    display: flex;
    flex-direction: column;
  }
  .features img {
    width: 75%;
  }
  .features img {
    width: 300px;
  }
  .atorneys .atorneysColorFrame {
    flex-wrap: wrap;
    height: 80%;
  }
  .atorneys .atorneysColorFrame .atorneysInfo> h5 {
    text-align: center;
  }
  .testimoial .testimoialMenu {
    flex-wrap: wrap;
  }
  .contactFooterMenu > .contactsFooter {
    width: 300px;
  }
  .contactFooterMenu > .footerSections {
    width: 304px;
  }
  .contactFooterMenu > .footerInfo {
    margin-bottom: 5%;
  }
}
@media screen and (max-width: 900px) {
  main .logo h1 {
    font-size: 40px;
  }
  nav {
    display: none;
  }
  main .logo {
    background-color: white;
  }
  .headerMenu .contacts {
    display: none;
  }
  .apoitment .apoitmentHeader .apoitmentMenu{
    width: 80%;
  }
  .apoitment .apoitmentHeader .apoitmentMenu h2 {
    font-size: 25px;
    text-align: center;
    padding: 0 5px;
  }
  .ourPractice {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .action .actionImg .actionHeader > h2 {
    font-size: 30px;
  }
  .contactFooterMenu > .footerInfo {
    margin-bottom: 8%;
  }
  .contactFooterMenu > .contactsFooter {
    width: 216px;
  }
  .bugerUl {
    top: -150px;
  }
  .burgerLabel {
    display: block;
  }
  .ourPractice .ourPracticeService{
    width: 90%;
  }
}
@media screen and (max-width: 500px) {
  .ourPractice .ourPracticeService{
    justify-content: center;
    display: flex;
  }
  .ourPractice .ourPracticeArea > button{
    margin-left: 23%;
  }
}
@media screen and (max-width: 425px) {
  .aboutUs {
    display: flex;
    flex-direction: column;
    padding: 50% 5% 0 5%;
  }
  .ourPractice {
    display: flex;
    flex-direction: column;
    padding: 30% 5% 30% 5%;
  }
  .apoitment {
    margin: 0;
    width: 90%;
    margin: 30% 5% 30% 5%;
  }
  .apoitment .apoitmentHeader {
    width: 100%;
    height: 100%;
  }
  .ourPractice{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .features {
    padding: 30% 5% 30% 5%;
  }
  .features img {
    width: 100%;
  }
  .features .featuresTextSections > .featuresSection {
    width: 100%;
  }
  .features .featuresTextSections .featuresText{
    width: 80%;
  }
  .testimoial .testimoialMenu .testimoials {
    gap: 10px;
  }
  .testimoial .testimoialMenu .testimoials .testimoialsText > p {
    line-height: 1;
  }
  .testimoial .testimoialMenu .testimoials .testimoialsText {
    padding: 15% 8%;
  }
  .action {
    width: 100%;
    padding: 0;
    padding: 0% 5% 30% 5%;
  }
  .action .actionImg {
    width: 100%;
  }
  .action .actionImg .actionHeader > h2 {
    font-size: 25px;
    padding-bottom: 5%;
  }
  .contactFooterMenu > .contactsFooter {
    font-size: 30px;
    justify-content: start;
    padding-left: 10px;
  }
  .contactFooterMenu > .contactsFooter i {
    font-size: 30px;
  }
  .contactFooterMenu > .contactsFooter h5 {
    font-size: 16px;
  }
  .contactFooterMenu > .contactsFooter p {
    font-size: 12px;
  }
  .contactFooterMenu > .footerInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 30%;
  }

  .burgerLabel::before {
    font-size: 40px;
  }
}
@media screen and (max-width: 320px) {
  .atorneys > h2 {
    padding-left: 22%;
  }
  .testimoial .testimoialMenu .testimoials .testimoialsText {
    height: 83%;
  }
}
