* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* -------------main------------ */

button {
  background-color: #b49c73;
  border: none;
  border-radius: 5px;
  font: 700 17px "Montserrat", sans-serif;
}
button:hover {
  cursor: pointer;
  color: white;
}
main {
  display: grid;
  grid-template: 130.5px / 1fr 3fr;
}
main .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #37373f;
  cursor: pointer;
}
main .logo:hover {
  cursor: pointer;
}
main .logo h1 {
  font: 700 56px "Roboto", sans-serif;
  color: #b49c73;
  text-transform: uppercase;
}
.headerMenu .contacts {
  display: grid;
  grid-template: 44px / 3fr 2fr;
  color: #b49c73;
  border-bottom: 1px solid #dee2e6;
}
.headerMenu .contacts .contTelMail {
  padding: 1.5% 0 0 4%;
}
.headerMenu .contacts .contSoc {
  display: grid;
  grid-template: 28px / repeat(5, 28px);
  justify-content: end;
  grid-gap: 10px;
  padding: 1% 5% 0 0;
}
.headerMenu .contacts .contSoc .icon {
  border: 1px solid;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerMenu .contacts .contSoc .icon:hover {
  color: black;
  background-color: #b49c73;
  cursor: pointer;
  border: none;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5% 2% 0 2%;
}
nav ul {
  width: 40%;
  display: flex;
  gap: 20px;
  font: 500 17px "Roboto", sans-serif;
  padding-top: 1%;
}
nav ul li:hover {
  cursor: pointer;
  color: #b49c73;
}

/* ----------------slider---------------- */

.slider {
  width: 100%;
  overflow: hidden;
}
.slider .photo {
  display: flex;
  overflow: hidden;
  width: 100%;
  position: relative;
  padding-bottom: 50px 0;
}
.slider .photo .photo1 {
  width: 100%;
  height: 100%;
  background: url(img/carousel-1.jpg) no-repeat center / cover;
  position: absolute;
  left: 0;
  
}
.slider .photo .photo1 .heroHeader {
  background-color: rgba(55, 55, 63, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  display: grid;
  justify-items: center;
  align-content: center;
  
}
.slider .photo .photo2 {
  width: 100%;
  height: 100%;
  background: url(img/carousel-2.jpg) no-repeat center / cover;
  display: grid;
  justify-items: center;
  align-content: center;
  
}
.slider .photo .photo2 .heroHeader1 {
  background-color: rgba(55, 55, 63, 0.7);
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-content: center;
  padding: 50px 0;
}
.slider .photo .icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: absolute;
}
.slider .photo .icons .left,
.slider .photo .icons .right {
  width: 15%;
  height: 100%;
  top: 0;
  z-index: 2;
  color: rgb(146, 146, 146);
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider .photo .icons label:hover {
  cursor: pointer;
}
.slider .photo .icons label .prevSliderIcon,
.slider .photo .icons label .nextSliderIcon {
  width: 45px;
  height: 45px;
  background-color: #37373f77;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider .photo .icons label .prevSliderIcon,
.slider .photo .icons label .nextSliderIcon:hover {
  cursor: pointer;
  background-color: #0f0f0f77;
}
input[type="checkbox"] {
  display: none;
}
#slide1:checked ~ .photo1 {
  position: absolute;
  left: -100%;
}
.slider .photo h2 {
  font: 24px "Roboto", sans-serif;
  color: white;
  letter-spacing: 3px;
  margin-bottom: 24px;
}
.slider .photo p {
  font: 88px "Roboto", sans-serif;
  color: white;
  text-align: center;
  padding: 0 30%;
  margin-bottom: 24px;
}

/* --------------About Us-------------- */

.aboutUs {
  display: grid;
  grid-template-columns: 29.5% 42%;
  gap: 20px;
  padding: 10% 0 10% 20.5%;
}
.aboutUs .aboutText {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 3%;
}
.aboutUs .aboutText > h2 {
  font: 700 32px "Roboto", sans-serif;
  color: #b49c73;
}
.aboutUs .aboutText > h4 {
  font: 700 40px "Roboto", sans-serif;
  color: #37373f;
}

/* --------------Services------------- */

.ourPractice {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(140px, 255px) minmax(260px, 825px)
  );
  gap: 20px;
  padding: 10% 0 10% 20%;
}
.ourPractice .ourPracticeArea {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ourPractice .ourPracticeService {
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.ourPractice .ourPracticeArea p {
  padding: 0 10px 0 0;
}
.ourPractice .ourPracticeService .practiceSections {
  width: 180px;
  height: 300px;
  min-width: 124px;
  background-color: #b49c73;
  border: none;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
}
.ourPractice .ourPracticeService .practiceSections .practiceSectionsIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  min-width: 80px;
  min-height: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: black;
}
.ourPractice .ourPracticeService .practiceSections > h5 {
  font: 20px "Roboto", sans-serif;
  color: #37373f;
}
.ourPractice .ourPracticeService .practiceSections > p {
  font: 16px "Montserrat", sans-serif;
  color: rgb(56, 56, 56);
  text-align: center;
}

/* ---------------Apoitment----------------- */

.apoitment {
  width: 60%;
  background: url(img/carousel-1.jpg) no-repeat center / cover;
  margin: 0 auto;
  border-radius: 6px;
}
.apoitment .apoitmentHeader {
  width: 100%;
  height: 100%;
  background-color: rgba(55, 55, 63, 0.7);
  display: flex;
  justify-content: center;
  padding: 8% 0;
  border-radius: 6px;
}
.apoitment .apoitmentHeader .apoitmentMenu {
  width: 46%;
  z-index: 2;
  background-color: #37373fb3;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  padding: 5% 0;
}
.apoitment .apoitmentHeader .apoitmentMenu h2 {
  font: 40px "Roboto", sans-serif;
  color: white;
  text-align: center;
  padding: 0 5px;
}
.apoitment .apoitmentHeader .apoitmentMenu form {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 5% 7%;
}
.apoitment .apoitmentHeader .apoitmentMenu input {
  width: 97.5%;
  height: 48px;
  border-radius: 6px;
  border: none;
}

.apoitment .apoitmentHeader .apoitmentMenu .apoData {
  width: 47%;
  font: 16px "Montserrat", sans-serif;
  padding-left: 5%;
  color: #757575;
}
.apoitment .apoitmentHeader .apoitmentMenu > button {
  width: 83.5%;
  height: 56px;
  margin-right: 2%;
}
.apoitment .apoitmentHeader .apoitmentMenu input:focus {
  outline: none;
}
.apoitment .apoitmentHeader .apoitmentMenu input::placeholder {
  font: 16px "Montserrat", sans-serif;
  color: #757575;
  padding-left: 5%;
}
.apoitment .apoitmentHeader .apoitmentMenu form select {
  width: 97.5%;
  height: 48px;
  border-radius: 6px;
  font: 16px "Montserrat", sans-serif;
  color: #757575;
  padding-left: 5%;
}
.apoitment .apoitmentHeader .apoitmentMenu form select:focus {
  outline: none;
}

/* ----------------Our Features---------------- */

.features {
  padding-top: 5%;
  display: grid;
  grid-template-columns: repeat(2, 37%);
  padding: 10% 0 10% 20%;
  gap: 20px;
}
.features img {
  width: 100%;
  border-radius: 6px;
}
.features .featuresTextSections {
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 48px;
}
.features .featuresTextSections > h3 {
  font: 16px "Roboto", sans-serif;
  color: #37373f;
  margin-bottom: 8px;
}
.features .featuresTextSections > h2 {
  font: 40px "Roboto", sans-serif;
  color: #37373f;
  margin-bottom: 24px;
}

.features .featuresTextSections > .featuresSection {
  width: 100%;
  display: flex;
}
.features .featuresTextSections > .featuresSection h4 {
  font: 20px "Roboto", sans-serif;
  margin-bottom: 8px;
}
.features .featuresTextSections > .featuresSection p {
  font: 16px "Montserrat", sans-serif;
  color: #757575;
}
.features .featuresTextSections .featuresIcon {
  width: 46px;
  min-width: 46px;
  min-height: 46px;
  height: 46px;
  background-color: #b49c73;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 24px;
}
.features .featuresTextSections .featuresIcon > p {
  font: 20px "Roboto", sans-serif;
  color: #37373f;
}

/* --------------Action------------- */

.action {
  padding: 0 0 10% 20%;
}
.action .actionImg {
  width: 75%;
  height: 60vh;
  background: url(img/carousel-2.jpg) no-repeat center / cover;
  border-radius: 6px;
}
.action .actionImg .actionHeader {
  width: 100%;
  height: 100%;
  background-color: rgba(55, 55, 63, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 0 20%;
  border-radius: 6px;
}
.action .actionImg .actionHeader > h2 {
  font: 700 40px "Roboto", sans-serif;
  color: white;
  margin-bottom: 5%;
}

/* ------------------Atorneys------------------ */

.atorneys {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 96px;
}
.atorneys .atorneysColorFrame {
  width: 60%;
  background-color: #fff;
  border-radius: 6px;
  display: flex;
  gap: 60px;
}
.atorneys > h2 {
  font: 700 40px "Roboto", sans-serif;
  margin-bottom: 2%;
}
.atorneys > h4 {
  font: 16px "Roboto", sans-serif;
  color: #37373f;
  line-height: 2;
}
.atorneys .atorneysColorFrame .atorneysInfo {
  width: 240px;
  min-width: 200px;
  height: 100%;
  background-color: #b49c73;
  border: none;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
}
.atorneys .atorneysColorFrame .atorneysInfo > h5 {
  font: 20px "Roboto", sans-serif;
  color: #37373f;
}
.atorneys .atorneysColorFrame .atorneysInfo > p {
  font: 16px "Montserrat", sans-serif;
  color: rgb(56, 56, 56);
  text-align: center;
}
.atorneys .atorneysColorFrame .atorneysInfo .atorneysImage img {
  width: 100%;
  height: 100%;
}

/* ------------------Testimoial---------------- */

.testimoial {
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimoial > h2 {
  font: 700 40px "Roboto", sans-serif;
  margin-bottom: 2%;
  text-align: center;
}
.testimoial > h4 {
  font: 16px "Roboto", sans-serif;
  color: #37373f;
  line-height: 2;
  text-align: center;
}
.testimoial .testimoialMenu {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.testimoial .testimoialMenu .testimoials {
  width: 300px;
  min-width: 300px;
  height: 230px;
  border: 1px solid black;
  display: flex;
  flex-direction: row-reverse;
  border: none;
}
.testimoial .testimoialMenu .testimoials .testimoialsText {
  width: 70%;
  height: 100%;
  background-color: #37373f;
  border-radius: 6%;
  border: none;
  padding: 13% 17%;
}
.testimoial .testimoialMenu .testimoials .testimoialsText > p {
  font: 16px "Montserrat", sans-serif;
  color: #fff;
  line-height: 1.3;
}
.testimoial .testimoialMenu .testimoials .testimCleint {
  width: 30%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.testimoial .testimoialMenu .testimoials .testimCleint .testimCleintImg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 20px;
}
.testimoial .testimoialMenu .testimoials .testimCleint .testimCleintImg > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* ------------------.contactFooterMenu----------------- */

.contactFooterMenu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 5% 0 0 2%;
  background-color: #37373f;
}
.contactFooterMenu > .contactsFooter {
  width: 578.13px;
  height: 104px;
  margin: 0 15px 50px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #47474b;
}
.contactFooterMenu > .contactsFooter > i {
  color: #b49c73;
  padding: 0 3% 3.5% 0;
}
.contactFooterMenu > .contactsFooter h5 {
  font: 20px "Roboto", sans-serif;
  color: white;
  margin-bottom: 10px;
}
.contactFooterMenu > .contactsFooter p {
  font: 16px "Montserrat", sans-serif;
  color: white;
}
.contactFooterMenu > .footerSections {
  width: 426.14px;
  height: 205px;
  margin: 0 15px 30px 15px;
}
.contactFooterMenu > .footerSections > h2 {
  font: 700 52px "Roboto", sans-serif;
  color: #b49c73;
}
.contactFooterMenu > .footerSections > p {
  font: 16px "Montserrat", sans-serif;
  color: white;
  margin-bottom: 25px;
}
.contactFooterMenu > .footerSections > .fframeicon {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.contactFooterMenu > .footerSections > .fframeicon .footIcon {
  width: 46px;
  height: 46px;
  border: 1px solid white;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactFooterMenu > .footerSections > .fframeicon .footIcon {
  font-size: 20px;
  color: white;
}
.contactFooterMenu > .footerSections > .fframeicon .footIcon:hover {
  background-color: #fff;
  color: #37373f;
  cursor: pointer;
}
.contactFooterMenu > .footerSections h4 {
  font: 24px "Roboto", sans-serif;
  color: #b49c73;
  margin-bottom: 24px;
}
.contactFooterMenu > .footerSections ul li {
  font: 16px "Montserrat", sans-serif;
  color: white;
  line-height: 1.9;
}
.contactFooterMenu > .footerSections ul li::before {
  content: "❯";
  font-size: 16px;
  margin-right: 10px;
  color: #fff;
}
.contactFooterMenu > .footerSections form {
  display: flex;
}
.contactFooterMenu > .footerSections > form > input {
  width: 70%;
  height: 50px;
  border: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.contactFooterMenu > .footerSections > form > input::placeholder {
  font: 16px "Montserrat", sans-serif;
  padding-left: 5%;
}
.contactFooterMenu > .footerSections > form > input:focus {
  outline: none;
}
.contactFooterMenu > .footerSections > form > button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.contactFooterMenu > .footerInfo {
  width: 96.3%;
  margin: 15px;
  background-color: #47474b;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font: 16px "Montserrat", sans-serif;
  color: #dee2e6;
  margin-top: 3%;
  padding: 1.5%;
}
.contactFooterMenu > .footerInfo a {
  color: #b49c73;
  font-weight: 700;
}
.contactFooterMenu > .footerInfo > .footerInfoSection1 {
  width: 50%;
  display: flex;
  align-items: center;
  padding-left: 2%;
}
.contactFooterMenu > .footerInfo > .footerInfoSection2 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 2%;
}

/* ----------------Burger Menu ------------------- */
#burgerMenu {
  display: none;
}
.burgerLabel {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 10px;
  z-index: 10;
  right: 10px;
  display: none;
}
.burgerLabel:hover {
  cursor: pointer;
}
.burgerLabel::before {
  content: "☰";
  font-size: 40px;
  font-weight: 800;
}
.burgerUl {
  position: absolute;
  top: -100%;
  left: 0;
  z-index: 9;
  width: 100%;
  background-color: #fff;
  transition: 1s;
  padding-left: 10px;
}
.burgerUl li {
  font: 17px "Roboto", sans-serif;
  padding: 5px 0;
  color: #37373f;
}
#burgerMenu:checked ~ .burgerUl {
  top: 0;
}
